body{
    margin: 20px;
    padding: 20px;
    background-color: rgb(184, 130, 238);
    text-align: center;
    display: flex;
    justify-content: center;
}

.container{
    align-items: center;
    border: 2px solid rgb(3, 3, 47);
    border-radius: 10px;
}

input{
    width: 250px;
    height: 25px;
    border: 1px solid darkblue;
    border-radius: 5px;
    background-color: aqua;
    color: darkblue;
    margin-right: 4px;
}

h1{
    color: rgb(6, 6, 117);
}

ul button{
    background-color: rgb(213, 213, 233,0.3);
    color:rgb(6, 6, 117);
    border: none;
    margin-left: 10px;
}

button{
    background-color: rgb(4, 4, 123);
    border-radius: 5px;
    color: aqua;

}



 ul {
  display: inline-block;
  margin: 10px;
}

li{
    text-align: left;
    color: rgb(29, 29, 116);
    padding: 4px;
}

.tasks{
    margin: 20px;
    background-color: rgb(126, 126, 203);
    width: 20rem;
    border-radius: 10px;
    font-size: 20px;
}



